xft.dpi: 64
URxvt.depth:32
URxvt.background:[80]#000000
! Font setting
URxvt.font: xft:WenQuanYi Micro Hei Mono:minspace=false:pixelsize=16:size=16:style=regular:antialias=true
URxvt.letterSpace: -2
URxvt.scrollBar:                false
! Color settings
URxvt*background:  Black
URxvt*foreground:  White
URxvt*fading:  30
!Input method
URxvt.multichar_encoding:utf-8
URxvt.imLocale:zh_CN.UTF-8
URxvt.inputMethod:fcitx
Xcursor.theme: xcursor-breeze
Xcursor.size: 0
